* {
  margin: 0;
  padding: 0;
}

.wednesdayContainer {
  padding: 50px;
  margin: 50px;
  font-family: "Josefin Sans", sans-serif;
  background-color: blueviolet;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
.clue-2-container {
  padding: 50px;
  margin: 50px;
  font-family: "Josefin Sans", sans-serif;
  background-color: blueviolet;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
.codeContainer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.codeContainer input {
  height: 30px;
  width: 500px;
  margin-bottom: 20px;
}
.codeContainer h3 {
  margin-bottom: 20px;
}
.codeContainer button {
  width: 100px;
  height: 40px;
}
/ */ .diningCommonsTitle {
  font-size: 50px;
}
.explanation {
  width: 90%;
  font-size: 30px;
  margin-bottom: 50px;
}
.menu-img {
  display: flex;
  justify-content: center;
}

.logoButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body,
.modal-title {
  color: #000;
}
.modal-body {
  text-align: center;
}
.showNow {
  display: block;
}
.hideNow {
  display: none;
}
.spinner {
  color: #000;
}

@media only screen and (max-width: 480px) {
  .wednesdayContainer {
    width: 100%;
    margin: 0px;
    height: 100vh;
    padding: 15px;
  }
  .codeContainer {
    width: 100%;
  }
  .codeContainer input {
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .clue-2-container {
    margin: 0px;
  }
  .diningCommonsTitle {
    font-size: 20px;
  }
  .explanation {
    font-size: 16px;
  }
  .logoContainer-index {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }
  .logoButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .modal-dialog {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
  }
  .modal-body {
    height: 60%;
  }
}
